<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erin.base.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.erin.base.domain.SysUser">
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="psword" property="psword" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="head_img" property="headImg" />
        <result column="create_operator" property="createOperator" />
        <result column="create_datetime" property="createDatetime" />
        <result column="update_operator" property="updateOperator" />
        <result column="update_datetime" property="updateDatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, account, psword, name, phone, head_img, create_operator, create_datetime, update_operator, update_datetime
    </sql>

</mapper>
